<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tj.lucene.mapper.ContentMapper">


	<insert id="addContent" useGeneratedKeys="true" keyProperty="id"
		parameterType="Content">
		insert
		into content
		(id,title,content)
		values(#{id},#{title},#{content})
	</insert>


	<select id="getContent" parameterType="String" resultType="Content">
		select * from content where id = #{id}
	</select>
</mapper>